// 
//  styles for the postits
//  
//  @author Alexander Nickel <mr.alexander.nickel@gmail.com>
//  @date 2013-05-14T13:40:49Z
//  @see https://github.com/twitter/bootstrap
//  @see https://github.com/mralexandernickel/less-transform
//

// Postit Dimensions
@borderWidth: 20px;
// small Postits
@postitSmallWidth: 80px;
@postitSmallHeight: 40px;
// Large Postits
@postitLargeWidth: 150px;
@postitLargeHeight: 150px;

// Postit Colours
@greenLight: rgb(187,217,134);
@greenDark: rgb(0,107,52);
@redDark: rgb(138,17,28);

.postit {
  background: @white;
  border-style: solid;
  border-width: 0;
  // this mixin is included in twitter bootstrap
  .box-shadow(0 0 5px rgba(0,0,0,0.3));
  text-align: center;
  // hide the postits until they are randomly rotated by jquery.less_postit
  display: none;
  text-transform: lowercase;
  
  &.small {
    height: @postitSmallHeight;
    line-height: @postitSmallHeight;
    width: @postitSmallWidth;
  }
  
  &.large {
    height: @postitSmallHeight;
    line-height: @postitSmallHeight;
    width: @postitLargeWidth;
  }
  
  &.xlarge {
    height: @postitLargeHeight;
    line-height: @postitSmallHeight;
    width: @postitLargeWidth;
  }
  
  &.left {
    border-left-width: @borderWidth;
  }
  
  &.right {
    border-right-width: @borderWidth;
  }
  
  &.green-light {
    border-color: @greenLight;
  }
  
  &.green-dark {
    border-color: @greenDark;
  }
  
  &.red-dark {
    border-color: @redDark;
  }
  
  &.minus_5 {
    @media (min-width: 980px) {
      .transform(rotate(-5deg));
    }
    @media (max-width: 979px) {
      .transform(rotate(85deg));
    }
  }
  
  &.minus_4 {
    @media (min-width: 980px) {
      .transform(rotate(-4deg));
    }
    @media (max-width: 979px) {
      .transform(rotate(86deg));
    }
  }
  
  &.minus_3 {
    @media (min-width: 980px) {
      .transform(rotate(-3deg));
    }
    @media (max-width: 979px) {
      .transform(rotate(87deg));
    }
  }
  
  &.minus_2 {
    @media (min-width: 980px) {
      .transform(rotate(-2deg));
    }
    @media (max-width: 979px) {
      .transform(rotate(88deg));
    }
  }
  
  &.minus_1 {
    @media (min-width: 980px) {
      .transform(rotate(-1deg));
    }
    @media (max-width: 979px) {
      .transform(rotate(89deg));
    }
  }
  
  &.plusminus {
    @media (max-width: 979px) {
      .transform(rotate(90deg));
    }
  }
  
  &.plus_1 {
    @media (min-width: 980px) {
      .transform(rotate(1deg));
    }
    @media (max-width: 979px) {
      .transform(rotate(91deg));
    }
  }
  
  &.plus_2 {
    @media (min-width: 980px) {
      .transform(rotate(2deg));
    }
    @media (max-width: 979px) {
      .transform(rotate(92deg));
    }
  }
  
  &.plus_3 {
    @media (min-width: 980px) {
      .transform(rotate(3deg));
    }
    @media (max-width: 979px) {
      .transform(rotate(93deg));
    }
  }
  
  &.plus_4 {
    @media (min-width: 980px) {
      .transform(rotate(4deg));
    }
    @media (max-width: 979px) {
      .transform(rotate(94deg));
    }
  }
  
  &.plus_5 {
    @media (min-width: 980px) {
      .transform(rotate(5deg));
    }
    @media (max-width: 979px) {
      .transform(rotate(95deg));
    }
  }
}